/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  overflow: hidden;
  
}

/* Debug: Ensure flex container isn’t overridden */
.flex {
  display: flex !important;
}
.g-container{
  /* margin: 0.7rem; */
  background: #EBECF0;;
}

main {
  overflow-y: auto; 
  height: 100vh/* Make the main content scrollable */
}


